.nav {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-right: 5em;
  padding: 2em;
  list-style: none;
}

.nav a {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  font-weight: 600;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
}
.nav a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
    .nav {
        margin-right: 0;
        padding: 1em;
        gap: 0.5em;
        justify-content: center;
        width: 100%;
    }

    .nav a {
        padding: 10px 15px;
        font-size: 0.8rem;
    }
}