.tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 5em;
}

.tutorial h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/* Tutorial.module.css */
@media (max-width: 768px) {
    .tutorial {
        margin-top: 2em;
        padding: 0 1em;
    }
    
    .tutorial h2 {
        font-size: 1.5em;
    }
}